@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import 'custom_markdown';
@import 'content_center_page';


$bg_color_1: #ffffff;
$bg_color_2: #f1f5f8;
$theme_1: #abcdef;
$theme_2: #beebee;

html {
  font-family: "Roboto";
}

body {
  margin: 0 auto;
  background: $bg_color_2;
}

:root {
  --mdc-theme-primary: #beebee;
  // --mdc-theme-secondary: #ffffff;
  --mdc-theme-on-surface: #beebee;
}
