$small_screen_break_point: 600px;

.main__header.mdc-top-app-bar {
  top: 0px;
  background-color: #24282d;
  z-index: 10;
  // height: 60px;

  // .top-bar__left-section {
  //   width: 20%;
  // }
  // .top-bar__right-section{
  //   width: 20%;
  // } 
  // .top-bar__mid-section{
  //   width: 100px;
  // }

  //css for small screens
  .top-bar__small-screen {
    display: none;

    .top-nav-logo {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // css for large screens
  .top-bar__large-screen {
    display: flex;
    .top-bar__tab-section {
      width: 400px;
      padding-top: 0px;
      padding-bottom: 0px;
      .mdc-tab-bar {
        height: 100%;
      }
      .mdc-tab-scroller {
        height: 100%;
      }
      .mdc-tab-scroller__scroll-area {
        height: 100%;
      }
      .mdc-tab-scroller__scroll-content {
        height: 100%;
        .mdc-tab {
          height: 100%;
          text-transform: capitalize;
          .mdc-tab__text-label {
            color: white;
          }
        }
        .mdc-tab--active {
          .mdc-tab__text-label {
            // color: #ef670d;
          }
        }
      }
    }
  }

  // @media only screen and (max-width: $small_screen_break_point) {
  //   .top-bar__large-screen {
  //     display: none;
  //   }
  //   .top-bar__small-screen {
  //     display: flex;
  //   }
  // }

  @media only
    /* Desktops and laptops ----------- */
    screen  and (max-width : 700px),
    /* Smartphones (portrait and landscape) ----------- */
    screen and (min-device-width : 320px) and (max-device-width : 480px)
    {
      .top-bar__large-screen {
        display: none;
      }
      .top-bar__small-screen {
        display: flex;
      }
    }
}
