$nav_color: #24282d;

.main__frame {
  .mdc-drawer {
    background-color: $nav_color;

    .mdc-list {
      .mdc-list-item {
        color: #9b9b9b;
        i {
          color: #9b9b9b;
        }
      }
      .mdc-list-item--activated {
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}

.main__header.mdc-top-app-bar {
  top: 0px;
  background-color: $nav_color;
  z-index: 10;

  //css for small screens
  .top-bar__small-screen {
    display: none;
    .top-bar__left-section {
      width: 10%;
    }
    .top-bar__right-section {
      width: 10%;
    }

    .top-nav-logo {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // css for large screens
  .top-bar__large-screen {
    display: flex;
    .top-bar__tab-section {
      width: 400px;
      padding-top: 0px;
      padding-bottom: 0px;
      .mdc-tab-bar {
        height: 100%;
      }
      .mdc-tab-scroller {
        height: 100%;
      }
      .mdc-tab-scroller__scroll-area {
        height: 100%;
      }
      .mdc-tab-scroller__scroll-content {
        height: 100%;
        .mdc-tab {
          height: 100%;
          text-transform: capitalize;
          .mdc-tab__text-label {
            color: white;
          }
        }
        .mdc-tab--active {
          .mdc-tab__text-label {
            // color: #ef670d;
          }
        }
      }
    }
  }
}

/* css for both resized desktops and mobiles */
@media only
/* Desktops and laptops ----------- */
screen and (max-width : 700px),
/* Smartphones (portrait and landscape) ----------- */
screen and (max-device-width : 480px)
{
  .main__header.mdc-top-app-bar {
    .top-bar__large-screen {
      display: none;
    }
    .top-bar__small-screen {
      display: flex;
    }
  }
  .main__frame {
    .main__body {
      margin-top: 56px;
    }
  }
}

// // only for top-nav adjustment to body
@media only screen and (min-device-width : 600px) and (max-device-width : 700px) {
  .main__frame {
    .main__body {
      margin-top: 64px;
    }
  }
}
