.blog-page {
  display: grid;
  position: relative;
  grid-template-columns: 5% 80% 15%;
  grid-template-areas: "outln main links";

  .markdown-container {
    grid-area: main;
    padding: 20px;
    background-color: white;
  }
  .nav-big-outline {
    display: block;
    grid-area: outln;
    position: fixed;
    height: 100%;
    left: 0;
    width: calc(0.2*0.64*100%);
  }
  .nav-big-blog-lists {
    display: block;
    grid-area: links;
    position: fixed;
    height: 100%;
    left: calc(18% + (0.87*0.64*100%));
    width: calc(0.3*0.64*100%);
  }
}

.nav-small-blog-lists {
  display: none;
  height: 50px;
  position: fixed;
  top: calc(100% - 50px);
  color: white;
  background-color: black;
}

@media only
/* Desktops and laptops ----------- */
screen  and (min-width : 1300px) and (max-width : 1500px)
{
  .blog-page {
    grid-template-columns: 8% 75% 17%;
    .nav-big-outline {
      width: calc(0.25*0.7*100%);
    }
    .nav-big-blog-lists {
      left: calc(15% + (0.85*0.7*100%));
      width: calc(0.3*0.7*100%);
    }
  }
}

@media only
/* Desktops and laptops ----------- */
screen  and (min-width : 1000px) and (max-width : 1300px)
{
  .blog-page {
    grid-template-columns: 10% 70% 15%;
    .nav-big-outline {
      width: calc(0.24*0.76*100%);
    }
    .nav-big-blog-lists {
      left: calc(12% + (0.82*0.76*100%));
      width: calc(0.25*0.76*100%);
    }
  }
}

@media only
/* Desktops and laptops ----------- */
screen  and (min-width : 700px) and (max-width : 1000px)
{
  .blog-page {
    grid-template-columns: 15% 65% 20%;
    .nav-big-outline {
      width: calc(0.23*0.84*100%);
    }
    .nav-big-blog-lists {
      left: calc(8% + (0.82*0.84*100%));
      width: calc(0.26*0.84*100%);
    }
  }
}

@media only
/* Desktops and laptops ----------- */
screen  and (max-width : 700px),
/* Smartphones (portrait and landscape) ----------- */
screen and (max-device-width : 480px)
{
  .blog-page {
    grid-template-columns: auto;

    .nav-big-outline, .nav-big-blog-lists {
      display: none;
    }
    
  }
  .nav-small-blog-lists {
    display: block;
  }
}
