.main__frame {
  .main__body {
    margin-top: 64px;
  }

  .sidebar-nav {
    .mdc-list-item {
      color: rgba(255, 255, 255, 0.7);
      .mdc-list-item__graphic {
        color:  rgba(255, 255, 255, 0.7);
      }
    }
    .mdc-list-item--activated {
      color: var(--mdc-theme-primary);
      .mdc-list-item__graphic {
        color: var(--mdc-theme-primary);
      }
    }
  }
}

.top-nav-logo {
  // width: 100px;
  padding-top: 10px;
  img {
    width: auto;
    height: auto;
  }
}

/* css for both resized desktops and mobiles */
@media only
/* Desktops and laptops ----------- */
screen and (max-width : 600px),
/* Smartphones (portrait and landscape) ----------- */
screen and (max-device-width : 480px)
{
  .main__frame {
    .main__body {
      margin-top: 54px;
    }
  }
}
