.archives-page {
  padding: 20px;

  .rmwc-collapsible-list__handle {
    font-weight: 600;
  }
  .rmwc-collapsible-list__children {
    .link-wrapper {
      padding-left: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      .link-item {

      }
    }
  }
}

.archives-heading {
  padding-bottom: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 3em;
  border-bottom: 1px dotted lightgrey;
}

/* css for both resized desktops and mobiles */
@media only
/* Desktops and laptops ----------- */
screen and (max-width : 700px),
/* Smartphones (portrait and landscape) ----------- */
screen and (max-device-width : 480px)
{
  .main__body{
    .content-center-page.archives-page {
      width: calc(100% - 40px);
    }
  }
  .archives-heading {
    font-size: 2em;
  }
}
