.zt-main__frame {
  background-color: #eee;
  width: 100%;
}

.zt-main__body {
  margin-top: 60px;
  width: 100%;
  background-color: #ddd;
}

.zt-top-nav-logo {
  width: 160px;
  padding-top: 10px;
  img {
    width: 100%;
    height: auto;
  }
}
